.pageContainer {
	width: 100%;
	height: 100vh;
	background-image: url("../../assets/images/backgroundOne.jpg");
	background-size: cover;
}
.MissingPage {
	width: 50%;
	height: 50vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	text-align: center;
	color: whitesmoke;
}
.sendHomeBtn {
	margin: 10px;
	width: 200px;
	height: 80px;
	font-size: 2rem;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	background: whitesmoke;
	transition: all 0.2s ease;
}
.sendHomeBtn:hover {
	background: rgb(43, 103, 70);
	color: whitesmoke;
}
.bm-burger-bars {
	background: whitesmoke;
}
#react-burger-menu-btn {
	color: whitesmoke;
}
