.Tasks {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.inputContainer {
	width: 100%;
	height: 13%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.taskInput {
	width: 60%;
	height: 60%;
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.374);
	color: rgba(255, 255, 255, 0.809);
	margin: 5px;
}
.taskInput::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white !important;
	opacity: 0.7; /* Firefox */
	font-size: 1.4em;
}
.submitTask {
	width: 20%;
	height: 60%;
	color: whitesmoke;
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.374);
	border-radius: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.374);
	opacity: 0.9;
}
.taskContainer {
	width: 100%;
	height: 90%;
}
.task {
	width: 80%;
	height: 20%;
	border: 1px solid rgba(255, 255, 255, 0.374);
	border-radius: 20px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: whitesmoke;
}
.task p {
	margin-left: 10px;
}
.task input {
	margin-right: 10px;
}
.completedBtn {
	border-radius: 30px;
	border: none;
}
.actions {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 15%;
	color: rgb(172, 28, 28);
	cursor: pointer;
}
.actions input {
	cursor: pointer;
}
