.Tasks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  width: 100%;
  height: 10%;
  display: flex;
}
.taskInput {
  width: 90%;
  height: 60%;
}
.submitTask {
  width: 10%;
  height: 70%;
}
.taskContainer {
  width: 100%;
  height: 90%;
}
.task {
  width: 30%;
  height: 15%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
