* {
	margin: 0;
	padding: 0;
}
#root {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: #99b9a1;
}
.App {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100vh;
	/* border: 1px solid black; */
}
nav {
	margin: 10px;
	width: 90%;
	height: 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid black; */
}
#navHeader {
	color: #2ecc71;
}
#burgerMenu {
	display: flex;
	flex-flow: column;
	width: 10%;
	height: 100%;
}
.burgerLine {
	background-color: black;
	width: 30px;
	border-radius: 20px;
	height: 10px;
	margin: 2px;
}
#treeFarm {
	height: 90vh;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid black; */
}
.tree {
	width: 150px;
	height: 150px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}
.addTaskBtn {
	width: 10vh;
	height: 10vh;
	align-self: flex-end;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}
