* {
	margin: 0;
	padding: 0;
}
#root {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.App {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: 100vh;
}
nav {
	margin: 10px;
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}
#burgerMenu {
	display: flex;
	flex-flow: column;
	width: 10%;
	height: 100%;
	border: 1px solid black;
}
.burgerLine {
	background-color: black;
	width: 30px;
	border-radius: 20px;
	height: 10px;
	margin: 2px;
}
#treeFarm {
	border: 1px solid black;
	height: 90vh;
	width: 100%;
}
.tree {
	border: 1px solid black;
	width: 150px;
	height: 150px;
	margin: 5px;
}
