* {
  margin: 0;
  padding: 0;
}
.treeContainer {
  margin: auto;
  margin-top: 80px;
  width: 60%;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.treeInfoCont {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.treeNotes {
  width: 50%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}
.treePic {
  border: 1px solid black;
  width: 50%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}
.treeTaskContainer {
  border: 1px solid black;
  width: 50%;
  height: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.task {
  width: 75%;
  height: 20%;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.taskCheckBtn {
  width: 20%;
  height: 50%;
  border: 1px solid black;
  border-radius: 5px;
}
.buttons {
  display: flex;
}
