.Spacer {
	width: 90%;
	height: 15vh;
}
.Tree {
	width: 90%;
	height: 80vh;
	border: 1px solid black;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.leftSide {
	width: 30%;
	height: 100%;
	border: 1px solid black;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.nameOfTree {
	width: 100%;
	height: 10%;
	border: 1px solid black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.details {
	width: 100%;
	height: 30%;
	border: 1px solid black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.treePic {
	width: 100%;
	height: 50%;
	border: 1px solid black;
}
.buttonsContainer {
	width: 100%;
	height: 10%;
	border: 1px solid black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.treeButton {
	border-radius: 10px;
	padding: 3px;
	cursor: pointer;
}
.rightSide {
	width: 70%;
	height: 100%;
	border: 1px solid black;
}
